/*STYLE DE CONTACTO*/
.form__h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}
.form__contacto{
    width: 30rem;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
}
.inputContacto{
    width: 50%;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 90px;
    border: 1px solid  #f5eae6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    display: flex;
    padding: 10px;
}
.animate__animated{
    width:40%;
    border: none;
    padding: 12px;
    margin-left: 100px;
    margin-top: 20px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}