.footer{ display: flex;
    justify-content: space-evenly;
    background-image:map-get($estilos, color);
}
.footer__div {margin-top: 50px;}
.footer__div a {
    display: inline-block;
    text-decoration: none;
    line-height: 45px;
    width: 45px;
    height: 45px;
}

.whats{
    color: green;
    font-size: 45px;
    margin: 30px;
}
 .insta{
    color:lightcoral;
    font-size: 45px;
    
}
.face{
    font-size: 45px;
    margin: 15px;
    
}
.index__h3{
    font-size: 16px;
    margin-top: 100px;
    margin-left: 1px;
}

.mapa{
    width:map-get($estilos, mapaAncho);
    height:map-get($estilos, mapaAlto);
    float: right;
    margin:map-get($estilos, mapaMargen );
}