/* STYLE DE GALERIA */
.main__galeria{
    display: grid;
    align-content: center;
    justify-content: center;

}
.section__galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin-left: 65px;    
}

.anillos__925{
    text-align: center;
    font-family:'Roboto';
    line-height: 48px;
    font-weight: 900;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.galeria__anillos h2{
    margin-left: 98px;
    font-size: 16px;
    font-family:'Roboto';
    font-weight: 500;
    line-height:24px;
    
}
.carrito{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
    border-radius:8px;
    border-color:#ebedee ;
    color: #7b787a;
    display:inline-block;
    font-family:'Roboto';
    font-weight:700;
    letter-spacing:1.5px;
    line-height:22.5px;
    margin:12px 0px 12px 98px;
    padding:12px 16px;
    text-align:center;
}
