/*main del index*/
main{
    background-color: #FCE2DB;
    display: grid;
    
}


.index__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    margin-left: 250px;
    margin-top: 50px;
}

.aspecto{
    object-fit: cover;
}
.div__section a{text-decoration: none;}
.index__h2 {
    font-size: 2rem;
    font-family:'Roboto';
    font-style: italic;
    margin-left: 60px;
    color: black;
    margin-bottom: 50px;
}

.index__img{
    border-radius: 20%;
    margin-bottom: 50px;
    width: 250px;
    height: 250px;
    transition: 0.5;

&:hover{
    transform: scale(1.1);

}     }