

/*STYLE PROG INFLUENCERS*/

.influencer__h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
}
.influencer__p{text-align: center;}
.h3-influencers{
    font-size: 20px;
    text-align: center;}