  /*STYLE DE REGISTRO*/

  .registro__form{
    margin-left: 500px;
  }
.btn{
    width:20%;
    border: none;
    padding: 12px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
