*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

 body{
        overflow: scroll;
        width: 100%;
        height: 100%;
        background-color: #f5eae6;
        font-family: 'Open Sans', sans-serif;
 }

header{ width: 100%;
        height: auto;
        margin-bottom: 0%;
        text-align: center;
        background-color: white;
        
}
.header__logo{
        width: 20rem;
        height: 20rem;
        margin-top: 0%;
        margin-bottom: auto;

}


.lista ul li { 
            margin-top: auto;
            list-style: none;
            padding: 0; 
            width:10%;
            padding:5px 10px;
            display: inline-block;

}

.main{  display: flex;
        width: auto;
        height: auto;
        margin-top: auto;
        position: relative;
        
}

.bordeImg{  
        border-radius: 20%;
        width: 350px;
        height: 350px;
}

.imgBloque{
        display: block;
        margin: 10%;
        margin-top: auto;
       
}
h2{
        text-align: center;
        margin: 10px;
}



.mapa{ 
        float:right;        
        margin:5%;
}

.aside{
        margin: 5%;
        border: 5%;
}      
        
.footer{ 
        background-color: #e2b6af;
        
}
 
/*ESTE ES EL STYLE DE LA GALERIA */

.anillos__size{
        border-radius: 20%;
        width: 350px;
        height: 350px;
}
.galeria__anillos{
        display: block;
        margin: 15px;
        margin-top: 10rem;
}

h4{
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        text-align: justify;
        margin-left: 10%;
}

.carrito{
        width: 10rem;
        height: 3rem;
        background-color: beige;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 90px;
}

/*ESTA ES LA PAGINA CONTACTO*/
.form__h1 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
}
.form__contacto{
        width: 30rem;
        background: #ffded8;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
}
.inputContacto{
        width: 50%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        margin-left: 90px;
        border: 1px solid  #f5eae6;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        display: flex;
}
.botonContacto{
        width:40%;
        border: none;
        padding: 12px;
        margin-left: 100px;
        margin-top: 20px;
}
/*ESTA ES LA PAGINA DE REGISTRO*/

.formRegistro{
        width: 400px;
        background:#efc6ba;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
}

.formRegistro h4 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
.input{
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid  #e2b6af;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }

.formRegistro p {
        height: 40px;
        text-align: center;
        font-size: 18px;
}
.boton{
        margin: 10px;
        width:100%;
        border: none;
        padding: 12px;
}

/*ESTA ES LA PAGINA NOSOTROs*/

.main__h1{
        font-size: 22px;
        margin-bottom: 20px;
        text-align: start;
}
    
.nosotros__p{
        font-family:'Open Sans', sans-serif;
        font-size: 16px;
}


/*ESTE ES EL STYLE DE PROG INFLUENCERS*/

.influencer__h1 {
        text-align: center;
        font-family:'Open Sans', sans-serif;
        margin: 10px;


}

